#  _____     _               
# |  _  |___| |_ _ _ ___ ___ 
# |     |  _|  _| | |  _| . |
# |__|__|_| |_| |___|_| |___|
# http://32bits.io/Arturo/
#

ifndef LOCAL_MODULE_NAME
    $(error LOCAL_MODULE_NAME was not set)
endif

# +----------------------------------------------------------------------------+
# | LIBRARY RULES
# +----------------------------------------------------------------------------+
# See http://make.mad-scientist.net/papers/advanced-auto-dependency-generation/ for details on the "dp" files
# used in this makefile.

$(LOCAL_OBJ_PATH)/%.o : %.cpp %.{{arguments.dp_file_path}} | $(LOCAL_HEADERS)
	@[ -d $(dir $@) ] || {{commands.mkdirs}} {{arguments.path}} $(dir $@)
	{{platform['recipe.cpp.o.pattern']}}
	{{commands.d_to_p}} {{arguments.dp_file_path}} $(basename $@).d

$(LOCAL_OBJ_PATH)/%.o : %.c %.{{arguments.dp_file_path}} | $(LOCAL_C_HEADERS)
	@[ -d $(dir $@) ] || {{commands.mkdirs}} {{arguments.path}} $(dir $@)
	{{platform['recipe.c.o.pattern']}}
	{{commands.d_to_p}} {{arguments.dp_file_path}} $(basename $@).d

$(LOCAL_ARCHIVE) : $(LOCAL_OBJ_FILES)
	$(foreach OBJECT_FILE, $(filter-out %.{{arguments.pfile_ext}}, $?), {{platform['recipe.ar.pattern']}};)
	# +------------------------------------------------------------------------+
	# | Created $(TARGET_PACKAGE)/$(TARGET_PLATFORM)/$(BOARD)/$(notdir $@)
	# +------------------------------------------------------------------------+

# rule to recreate manually deleted dp files when building objects.
%.{{arguments.dp_file_path}}: ;


# +----------------------------------------------------------------------------+
# | BINARY RULES
# +----------------------------------------------------------------------------+
ifdef LOCAL_BINARY

%.cpp : %.ino
	@[ -d $(dir $@) ] || {{commands.mkdirs}} {{arguments.path}} $(dir $@)
	$(shell $(INO_PROCESSOR) {{arguments.output_dir}} $(dir $@) {{arguments.sketch}} $<)
	
$(LOCAL_BINARY) : $(LOCAL_ARCHIVE) $(LIB_ARCHIVES)
	{{platform['recipe.c.combine.pattern']}}
	# +------------------------------------------------------------------------+
	# | Created $(TARGET_PACKAGE)/$(TARGET_PLATFORM)/$(BOARD)/$(notdir $@)
	# +------------------------------------------------------------------------+

$(LOCAL_HEX) : $(LOCAL_BINARY)
	{{platform['recipe.objcopy.hex.pattern']}}
	# +------------------------------------------------------------------------+
	# | Created $(TARGET_PACKAGE)/$(TARGET_PLATFORM)/$(BOARD)/$(notdir $@)
	# +------------------------------------------------------------------------+

endif

# object dependencies
-include $(LOCAL_OBJ_FILES:.o=.{{arguments.pfile_ext}})

#-include $(MAKE_CLEAR_VARS)

