#  _____     _               
# |  _  |___| |_ _ _ ___ ___ 
# |     |  _|  _| | |  _| . |
# |__|__|_| |_| |___|_| |___|
# http://32bits.io/Arturo/
#

{{local.toolchains}}

comma							:= ,
BINTYPE                         := elf

# +----------------------------------------------------------------------------+
# | PATHS
# +----------------------------------------------------------------------------+
LOCAL_DIR                       := {{local.dir}}
LOCAL_ROOT_DIR                  := {{local.rootdir}}
OBJ_DIR                         := obj
SKETCH_DIR                      := ino
VPATH                           := $(DIR_SOURCE):$(DIR_BUILD)/$(BOARD)/$(SKETCH_DIR)
OBJ_PATH                        := $(DIR_BUILD)/$(BOARD)/$(OBJ_DIR)

# +----------------------------------------------------------------------------+
# | SOURCE
# +----------------------------------------------------------------------------+
CPP_HEADERS                     := $(shell {{commands.source_headers}})
CPP_HEADERS_W_I                 := $(addprefix -I , $(CPP_HEADERS))
C_HEADERS                       := $(filter-out %.hpp, $(CPP_HEADERS))
C_HEADERS_W_I                   := $(addprefix -I , $(C_HEADERS))
ALL_SOURCE                      := $(shell {{commands.source_files}})
INO_SOURCE                      := $(filter %.ino, $(ALL_SOURCE))
CPP_SOURCE                      := $(filter %.cpp, $(ALL_SOURCE))
INO_INTERM_SOURCE               := $(addprefix $(DIR_BUILD)/$(BOARD)/$(SKETCH_DIR)/, $(INO_SOURCE:.ino=.cpp))
C_SOURCE                        := $(filter %.c, $(ALL_SOURCE))
OBJ_FILES                       := $(addprefix $(OBJ_PATH)/, $(CPP_SOURCE:.cpp=.o)) \
                                   $(addprefix $(OBJ_PATH)/, $(C_SOURCE:.c=.o)) \
                                   $(INO_INTERM_SOURCE:.cpp=.o)
DEP_FILES                       := $(OBJ_FILES:.o=.{{commands.pfile_ext}})

# +----------------------------------------------------------------------------+
# | TOOLS
# +----------------------------------------------------------------------------+
INO_PROCESSOR                   := {{commands.preprocess_sketch}}

# +----------------------------------------------------------------------------+
# | PHONY TARGETS
# +----------------------------------------------------------------------------+

.PHONY: build
build : $(DIR_BUILD)/$(BOARD)/$(PROJECT_NAME).$(BINTYPE)
	#done (for now)

.PHONY: list
list:
	@echo $(CPP_HEADERS_W_I) $(INO_SOURCE)

.PHONY: clean
clean:
	rm -rf $(DIR_BUILD)/$(BOARD)

# +----------------------------------------------------------------------------+
# | BUILD TARGETS
# +----------------------------------------------------------------------------+
$(DIR_BUILD)/$(BOARD)/$(SKETCH_DIR)/%.cpp : %.ino
	@[ -d $(dir $@) ] || {{commands.mkdirs}} $(dir $@)
	$(shell $(INO_PROCESSOR) --output_dir $(dir $@) --sketch $<)

$(OBJ_PATH)/%.{{commands.pfile_ext}} : $(OBJ_PATH)/%.o
	{{commands.cmd_d_to_p}} {{arguments.dp_file_path}} $(basename $<).d

$(OBJ_PATH)/%.o : %.cpp
	@[ -d $(dir $@) ] || {{commands.mkdirs}} $(dir $@)
	{{platform['recipe.cpp.o.pattern']}}

$(DIR_BUILD)/$(BOARD)/$(PROJECT_NAME).a : $(OBJ_FILES)
	{{platform['recipe.ar.pattern']}}
	
$(DIR_BUILD)/$(BOARD)/$(PROJECT_NAME).$(BINTYPE) : $(DIR_BUILD)/$(BOARD)/$(PROJECT_NAME).a $(DEP_FILES)
	{{platform['recipe.c.combine.pattern']}}

# object dependencies
-include $(OBJ_FILES:%.o=%.{{commands.pfile_ext}})
