#  _____     _               
# |  _  |___| |_ _ _ ___ ___ 
# |     |  _|  _| | |  _| . |
# |__|__|_| |_| |___|_| |___|
# http://32bits.io/Arturo/
#

PRIVATE_OBJ_PATH     := $(DIR_BUILD)/$(TARGET_PACKAGE)/$(TARGET_PLATFORM)/$(BOARD)/$(LOCAL_MODULE_NAME)/$(OBJ_DIR)
PRIVATE_ARCHIVE      := $(DIR_BUILD_PATH)/$(LOCAL_MODULE_NAME).a
PRIVATE_SOURCE       := $(shell {{commands.lib_source_files}} {{arguments.library}} $(LOCAL_MODULE_NAME))
PRIVATE_HEADERS      := $(shell {{commands.lib_source_headers}} {{arguments.library}} $(LOCAL_MODULE_NAME))
PRIVATE_C_HEADERS    := $(filter-out %.hpp, $(PRIVATE_HEADERS))
PRIVATE_CPP_SOURCE   := $(filter %.cpp, $(PRIVATE_SOURCE))
PRIVATE_C_SOURCE     := $(filter %.c, $(PRIVATE_SOURCE))
PRIVATE_OBJ_FILES    := $(addprefix $(PRIVATE_OBJ_PATH), $(PRIVATE_CPP_SOURCE:.cpp=.o)) \
                        $(addprefix $(PRIVATE_OBJ_PATH), $(PRIVATE_C_SOURCE:.c=.o))

SOURCE_LIBS          += $(PRIVATE_ARCHIVE)
CPP_HEADERS          += $(PRIVATE_HEADERS)
CPP_HEADERS_W_I      += $(addprefix -I , $(PRIVATE_HEADERS))
C_HEADERS            += $(PRIVATE_C_HEADERS)
C_HEADERS_W_I        += $(addprefix -I , $(PRIVATE_C_HEADERS))
OBJ_FILES            += $(PRIVATE_OBJ_FILES)

$(PRIVATE_OBJ_PATH)%.o : %.cpp | $(PRIVATE_HEADERS)
	@[ -d $(dir $@) ] || {{commands.mkdirs}} {{arguments.path}} $(dir $@)
	# +------------------------------------------------------------------------+
	# | Compiling $(notdir $@)
	# +------------------------------------------------------------------------+
	{{platform['recipe.cpp.o.pattern']}}

$(PRIVATE_ARCHIVE) : $(PRIVATE_OBJ_FILES)
	{{platform['recipe.ar.pattern']}}
