#  _____     _               
# |  _  |___| |_ _ _ ___ ___ 
# |     |  _|  _| | |  _| . |
# |__|__|_| |_| |___|_| |___|
# http://32bits.io/Arturo/
#

LOCAL_MODULE_NAME :=
PRIVATE_OBJ_PATH :=
PRIVATE_SOURCE :=
PRIVATE_HEADERS :=
PRIVATE_C_HEADERS :=
PRIVATE_CPP_SOURCE :=
PRIVATE_C_SOURCE :=
PRIVATE_OBJ_FILES :=
PRIVATE_ARCHIVE :=