#  _____     _               
# |  _  |___| |_ _ _ ___ ___ 
# |     |  _|  _| | |  _| . |
# |__|__|_| |_| |___|_| |___|
# http://32bits.io/Arturo/
#

LIB_NAME                    := {{library.name}}
LIB_SOURCES                 := $(shell {{commands.cmd_lib_source_files}} {{arguments.library}} $(LIB_NAME))
LIB_HEADERS                 := $(shell {{commands.cmd_lib_source_headers}} {{arguments.library}} $(LIB_NAME))
