#  _____     _               
# |  _  |___| |_ _ _ ___ ___ 
# |     |  _|  _| | |  _| . |
# |__|__|_| |_| |___|_| |___|
# http://32bits.io/Arturo/
#

-include $(DIR_BUILD)/{{templates.make_toolchain}}

# +----------------------------------------------------------------------------+
# | COMMON VARIABLES
# +----------------------------------------------------------------------------+
OBJ_DIR                 := obj

SOURCE_LIB_NAMES        := $(shell {{commands.source_libs}})
SOURCE_LIBS             :=

SOURCE_LIB_INCLUDES     := $(addsuffix /{{templates.make_lib}}, $(addprefix $(DIR_BUILD)/$(TARGET_PACKAGE)/$(TARGET_PLATFORM)/$(BOARD)/, $(SOURCE_LIB_NAMES)))

# +----------------------------------------------------------------------------+
# | SOURCE
# +----------------------------------------------------------------------------+
CPP_SOURCE                      :=
C_SOURCE                        :=
OBJ_FILES                       := 
CPP_HEADERS                     :=
CPP_HEADERS_W_I                 :=
C_HEADERS                       :=
C_HEADERS_W_I                   :=

# +----------------------------------------------------------------------------+
# | MAKEFILE INCLUDE AS COMMAND
# +----------------------------------------------------------------------------+
MAKE_STATIC_LIB         := $(DIR_BUILD)/{{templates.make_staticlib}}
MAKE_BIN                := $(DIR_BUILD)/{{templates.make_bin}}
MAKE_CLEAR_VARS         := $(DIR_BUILD)/{{templates.make_clearvars}}

# +----------------------------------------------------------------------------+
# | MAKEFILE GENERATION RULES
# +----------------------------------------------------------------------------+
$(SOURCE_LIB_INCLUDES) : $(DIR_MAKEFILE)/{{this.filename}}
	{{commands.makegen}} {{arguments.islibrary}} {{arguments.path}} $@ {{arguments.template}} "make_lib"

$(DIR_BUILD)/{{templates.make_toolchain}} : $(DIR_MAKEFILE)/{{this.filename}}
	{{commands.makegen}} {{arguments.path}} $@ {{arguments.template}} "make_toolchain"

$(MAKE_STATIC_LIB) : $(DIR_MAKEFILE)/{{this.filename}}
	{{commands.makegen}} {{arguments.path}} $@ {{arguments.template}} "make_staticlib"

$(MAKE_BIN): $(DIR_MAKEFILE)/{{this.filename}}
	{{commands.makegen}} {{arguments.path}} $@ {{arguments.template}} "make_bin"

$(MAKE_CLEAR_VARS): $(DIR_MAKEFILE)/{{this.filename}}
	{{commands.makegen_noexpand}} {{arguments.path}} $@ {{arguments.template}} "make_clearvars"

# +----------------------------------------------------------------------------+
# | LIBRARY MODULES
# +----------------------------------------------------------------------------+
-include $(MAKE_CLEAR_VARS)

$(foreach SOURCE_LIB_INCLUDE,$(SOURCE_LIB_INCLUDES),$(eval -include $(SOURCE_LIB_INCLUDE)))

# +----------------------------------------------------------------------------+
# | BUILD TARGETS
# +----------------------------------------------------------------------------+
.PHONY : objs
objs : $(OBJ_FILES)
	# Build all the objects

.PHONY : libs
libs : $(SOURCE_LIBS)
	# Build all the libs
