#  _____     _               
# |  _  |___| |_ _ _ ___ ___ 
# |     |  _|  _| | |  _| . |
# |__|__|_| |_| |___|_| |___|
# http://32bits.io/Arturo/
#

-include $(DIR_BUILD)/{{local.toolchainmakefile}}

# +----------------------------------------------------------------------------+
# | PATHS
# +----------------------------------------------------------------------------+
LOCAL_DIR                       := {{local.dir}}
LOCAL_ROOT_DIR                  := {{local.rootdir}}
OBJ_DIR                         := obj
SKETCH_DIR                      := ino
VPATH                           := $(DIR_SOURCE):$(DIR_BUILD)/$(BOARD)/$(SKETCH_DIR)
OBJ_PATH                        := $(DIR_BUILD)/$(BOARD)/$(OBJ_DIR)

# +----------------------------------------------------------------------------+
# | SOURCE
# +----------------------------------------------------------------------------+
CPP_HEADERS                     := $(shell {{command.source_headers}})
CPP_HEADERS_W_I                 := $(addprefix -I , $(CPP_HEADERS))
C_HEADERS                       := $(filter-out %.hpp, $(CPP_HEADERS))
C_HEADERS_W_I                   := $(addprefix -I , $(C_HEADERS))
ALL_SOURCE                      := $(shell {{command.source_files}})
INO_SOURCE                      := $(filter %.ino, $(ALL_SOURCE))
CPP_SOURCE                      := $(filter %.cpp, $(ALL_SOURCE))
INO_INTERM_SOURCE               := $(addprefix $(DIR_BUILD)/$(BOARD)/$(SKETCH_DIR)/, $(INO_SOURCE:.ino=.cpp))
C_SOURCE                        := $(filter %.c, $(ALL_SOURCE))
OBJ_FILES                       := $(addprefix $(OBJ_PATH)/, $(CPP_SOURCE:.cpp=.o)) \
                                   $(addprefix $(OBJ_PATH)/, $(C_SOURCE:.c=.o)) \
                                   $(INO_INTERM_SOURCE:.cpp=.o)

# +----------------------------------------------------------------------------+
# | TOOLS
# +----------------------------------------------------------------------------+
INO_PROCESSOR                   := {{command.preprocess_sketch}}

# +----------------------------------------------------------------------------+
# | PHONY TARGETS
# +----------------------------------------------------------------------------+

.PHONY: build
build : $(DIR_BUILD)/$(BOARD)/$(PROJECT_NAME).elf
	#done (for now)

.PHONY: list
list:
	@echo $(CPP_HEADERS_W_I) $(INO_SOURCE)

.PHONY: clean
clean:
	rm -rf $(DIR_BUILD)/$(BOARD)

# +----------------------------------------------------------------------------+
# | BUILD TARGETS
# +----------------------------------------------------------------------------+

$(DIR_BUILD)/$(BOARD)/$(SKETCH_DIR)/%.cpp : %.ino
	@[ -d $(dir $@) ] || {{command.mkdirs}} $(dir $@)
	$(shell $(INO_PROCESSOR) --output_dir $(dir $@) --sketch $<)

$(OBJ_PATH)/%.o : %.cpp
	@[ -d $(dir $@) ] || {{command.mkdirs}} $(dir $@)
	{{platform['recipe.cpp.o.pattern']}}
	{{command.d_to_p}} $(basename $@).d

$(DIR_BUILD)/$(BOARD)/$(PROJECT_NAME).a : $(OBJ_FILES)
	{{platform['recipe.ar.pattern']}}

$(DIR_BUILD)/$(BOARD)/$(PROJECT_NAME).elf : $(DIR_BUILD)/$(BOARD)/$(PROJECT_NAME).a
	{{platform['recipe.c.combine.pattern']}}

# TODO: make always builds b/c of this.
-include $(OBJ_FILES:%.o=%.{{command.pfile_ext}})



