#  _____     _               
# |  _  |___| |_ _ _ ___ ___ 
# |     |  _|  _| | |  _| . |
# |__|__|_| |_| |___|_| |___|
# http://32bits.io/Arturo/
#

# +----------------------------------------------------------------------------+
# | PATHS
# +----------------------------------------------------------------------------+
ifndef LOCAL_DIR
    $(error LOCAL_DIR was not set)
endif
LOCAL_OBJ_PATH                  = $(LOCAL_DIR)/$(OBJ_DIR)
VPATH                           = $(DIR_SOURCE):$(DIR_BUILD)/$(BOARD)/$(SKETCH_DIR)

# +----------------------------------------------------------------------------+
# | SOURCE
# +----------------------------------------------------------------------------+
CPP_SOURCE                      = $(filter %.cpp, $(LOCAL_SOURCES))
C_SOURCE                        = $(filter %.c, $(LOCAL_SOURCES))
LOCAL_OBJ_FILES                 = $(addprefix $(LOCAL_OBJ_PATH)/, $(CPP_SOURCE:.cpp=.o)) \
                                   $(addprefix $(LOCAL_OBJ_PATH)/, $(C_SOURCE:.c=.o))
CPP_HEADERS                     = $(LOCAL_HEADERS)
CPP_HEADERS_W_I                 = $(addprefix -I , $(LOCAL_HEADERS))
C_HEADERS                       = $(filter-out %.hpp, $(LOCAL_HEADERS))
C_HEADERS_W_I                   = $(addprefix -I , $(C_HEADERS))

# +----------------------------------------------------------------------------+
# | BUILD TARGETS
# +----------------------------------------------------------------------------+
$(LOCAL_OBJ_PATH)/%.{{arguments.pfile_ext}} : $(LOCAL_OBJ_PATH)/%.o
	{{commands.d_to_p}} {{arguments.dp_file_path}} $(basename $<).d

$(LOCAL_OBJ_PATH)/%.o : %.cpp
	@[ -d $(dir $@) ] || {{commands.mkdirs}} {{arguments.path}} $(dir $@)
	{{platform['recipe.cpp.o.pattern']}}

$(LOCAL_DIR)/$(LOCAL_MODULE_NAME).a : $(LOCAL_OBJ_FILES)
	{{platform['recipe.ar.pattern']}}

# object dependencies
