#  _____     _               
# |  _  |___| |_ _ _ ___ ___ 
# |     |  _|  _| | |  _| . |
# |__|__|_| |_| |___|_| |___|
# http://32bits.io/Arturo/
#

# +----------------------------------------------------------------------------+
# | PATHS
# +----------------------------------------------------------------------------+
LOCAL_DIR                       := {{local.dir}}
LOCAL_ROOT_DIR                  := {{local.rootdir}}
VPATH                           := $(DIR_SOURCE)

# +----------------------------------------------------------------------------+
# | SOURCE
# +----------------------------------------------------------------------------+
CPP_HEADERS                     := $(shell {{command.source_headers}})
C_HEADERS                       := $(filter-out %.hpp, $(CPP_HEADERS))
ALL_SOURCE                      := $(shell {{command.source_files}})
INO_SOURCE                      := $(filter %.ino, $(ALL_SOURCE))
CPP_SOURCE                      := $(filter %.cpp, $(ALL_SOURCE)) \
                                   $(addprefix $(DIR_BUILD)/$(BOARD)/, $(INO_SOURCE:.ino=.cpp))
C_SOURCE                        := $(filter %.c, $(ALL_SOURCE))

# +----------------------------------------------------------------------------+
# | TOOLS
# +----------------------------------------------------------------------------+
INO_PROCESSOR                   := {{command.preprocess_sketch}}

# +----------------------------------------------------------------------------+
# | COMMON TARGETS
# +----------------------------------------------------------------------------+
.PHONY: list
list:
	@echo $(CPP_HEADERS) $(INO_SOURCE)

.PHONY: clean
clean:
	rm -rf $(DIR_BUILD)/$(BOARD)

build : $(CPP_SOURCE)
	#done (for now)

$(DIR_BUILD)/$(BOARD)/%.cpp : %.ino
	@[ -d $(dir $@) ] || mkdir -p $(dir $@)
	$(shell $(INO_PROCESSOR) --output_dir $(dir $@) --sketch $<)
